body {
  background: $primary-bg-color-body;
  font-family: $primary-font;
  min-height: 100vh;
}

.container {
  width: $container-width;
  height: 100%;
  margin: 0 auto;
}


@mixin flex($display:flex,$direction: row,$wrap:wrap) {
  display: $display;
  flex-flow: $direction $wrap;
}