@import 'variables';
main{

  .cds-container {
    @include flex();
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    .cd {
      @include flex(flex, column, wrap);
      justify-content: space-between;
      align-items: center;
      flex-basis: 200px;
      padding: 20px;
      margin: 10px 20px;
      min-height: 360px;
      background:$alternative-bg-card;
      text-align: center;
      border-radius: 5px;
      box-shadow: $box-shadow-card;
      img {
        min-width: 160px;
        min-height: 160px;
        max-width: 100%;
      }
      h3 {
        font-family: $secondary-font;
        margin: 20px 0;
        color: $color-white;
        font-size: 1.2em;
        text-transform: capitalize;
        cursor: default;
      }
      span.author,
      span.year {
        color: $color-grey;
        font-size: 20px;
        padding: 8px;
        cursor: default;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
}